empresa {

    background-color:cornflowerblue;
    width: auto;
    height: auto;

}

id {

    background-color: cornsilk;
    display: block;
    text-align: center;
    width: auto ;
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 20px;          
    
}

departaments {

    display: block;
    background-color: cornsilk;
    border-color: black;


}

nom_departament {

    display: block;
    text-align: center;
    width: auto;
    font-size: 40px;
    

}