libro {

    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: black;

}

titulo, autor, fechaPublicacion {

    display: block;
    
}

titulo {

    font-weight: bold;

}