titulo, autor, fechaPublicacion {

    display: block;
    padding-left: 5px;

}

biblioteca {

    background-color: darkgray;
    font-family: sans-serif;
    
}

libro {

    display: block;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    background-color: darkseagreen;
    
}

titulo {

    background-color: white;
    border-bottom: black 2px solid;
    font-weight: bold;
    padding-left: 5px;

}


