biblioteca {

    font-family: sans-serif;
    
}

libro {

    display: block;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    background-color: darkseagreen;
    padding: 10px;

}

titulo {

    font-weight: bold;
    
}

titulo, autor, fechaPublicacion {

    display: block;

}