ies {

    font-family: sans-serif;
    
}

nombreCentro {

    font-size: 25px;   

}

nombreCentro, web, ciclo {

    display: block;
    margin: 10px;

}

ciclos {

    counter-reset: cuentaciclos;

}

nombre:before {

    content: counter(cuentaciclos) ". ";
    counter-increment: cuentaciclos;

}

nombre {

    display: block;
    margin-top: 10px;
    margin-left: 30px;
    /*text-indent: -15px;*/

}

decretoTitulo, grado {

    display: list-item;
    list-style: disc inside;
    margin-left: 50px;

}