ies {

    font-family: sans-serif;
    
}

nombreCentro {

    font-size: 25px;   

}

nombreCentro, web, ciclo {

    display: block;
    margin: 10px;

}

nombre, decretoTitulo, grado {

    display: list-item;
    list-style: lower-latin inside;
    padding-left: 30px;

}