ies {

    font-family: sans-serif;
    
}

nombreCentro {

    font-size: 25px;   

}

nombreCentro, web, ciclo {

    display: block;
    margin: 10px;

}

decretoTitulo, grado {

    display: list-item;
    list-style: disc inside;
    padding-left: 5px;

}


