professor {
    margin-left:auto;
    margin-right: auto;
    width: 20%;
    border: solid;
    border-width: 3px;
    margin-top: 10px;
    padding-bottom:20px;
    padding-left: 20px;
    padding-top:20px;
    }
     
    nom, cognom {
    font-size:30px;
    }
     
    departament {
    display:block;
    font-weight: bold;
    background-color:black;
    text-align: right;
    color:white;
    padding-right: 5px;
    }
     
    carrec {
    font-style: italic;
    padding-left:40px;
    display:block;
    }