ies {

    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: fit-content;
    
}

ciclos {

    display: flex;
    flex-direction: column;
    border: 1px black solid;
    margin: 20px;
    

}

ciclo {
    
    display: flex;
    

}

nombre, grado, decretoTitulo {
        
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
      
    
}

